Facebook _ Instagram Cross Poster.json
{
  "name": "Facebook | Instagram Cross Poster",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "5b2081bd-8c71-4246-8064-286276686290",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1856,
        464
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-3",
              "name": "imageUrl",
              "value": "={{ $('Get row(s) in sheet').item.json['postImages/0/url'] || 'Not found' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "videoUrl",
              "value": "={{ $('Get row(s) in sheet').item.json['postVideo/videoUrl'] || 'Not found' }}",
              "type": "string"
            },
            {
              "id": "bf38995a-2e84-4dbf-aa56-4257cc8fa10d",
              "name": "Post Content",
              "value": "={{ $('Get row(s) in sheet').item.json.content }}",
              "type": "string"
            },
            {
              "id": "956b6312-069f-460c-a4f6-19406cd82093",
              "name": "View Full Post",
              "value": "={{ $('Get row(s) in sheet').item.json.linkedinUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "17657259-c804-4217-92e3-94439821a329",
      "name": "Prepare Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        464
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc",
          "mode": "list",
          "cachedResultName": "Linkedin post Data for fb and insta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1818381981,
          "mode": "list",
          "cachedResultName": "posts data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit#gid=1818381981"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1632,
        464
      ],
      "id": "2a780688-f883-49fd-8783-61f1b32c34d6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0aMeEZW9nvPlEHBm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "crop",
        "dataPropertyName": "=data",
        "width": 1080,
        "height": 1080,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -960,
        368
      ],
      "id": "b9f83441-ca02-4c6e-8b70-6e2254169649",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "url": "={{ $json['postImages/0/url'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1152,
        368
      ],
      "id": "8c7226a2-3363-42bb-b1b6-b3655351b5a4",
      "name": "Download URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "9c41bb0aaeefbe26c868161f843b87cb"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        368
      ],
      "id": "b2ba94fe-179e-4cc3-9c95-77ee8c98d349",
      "name": "Get image url"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['postImages/0/url'] }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "af674237-cb6e-4ee1-b04e-e8debf77f9f4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20153249-6e5e-4f89-82aa-4b859b98a4ff",
                    "leftValue": "={{ $json['postVideo/videoUrl'] }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reel Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "549e3b78-350f-4a98-965a-b340eee01f0a",
                    "leftValue": "={{ $json['postImages/0/url'] && $json['postImages/1/url'] }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1408,
        448
      ],
      "id": "d3563832-9ffd-4ffc-bdc1-bb7f25e45838",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "image",
        "node": "17841479628301872",
        "graphApiVersion": "v24.0",
        "imageUrl": "={{ $json.data.url }}",
        "caption": "={{ $('Get row(s) in sheet').item.json.content }}\n\nView Full Post:\n{{ $('Get row(s) in sheet').item.json.linkedinUrl }}"
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        -560,
        368
      ],
      "id": "12c1c648-3f8c-4989-b2bc-981aba121eac",
      "name": "Publish post to instagram",
      "credentials": {
        "instagramApi": {
          "id": "GzCmsXJupjcLIm4n",
          "name": "Instagram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reels",
        "node": "17841479628301872",
        "graphApiVersion": "v24.0",
        "videoUrl": "={{ $json['postVideo/videoUrl'] }}",
        "caption": "={{ $('Get row(s) in sheet').item.json.content }}\n\nView Full Post:\n{{ $('Get row(s) in sheet').item.json.linkedinUrl }}"
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        -864,
        576
      ],
      "id": "5c70a3fb-b4ed-42f9-a9c1-b82ca5baa6ed",
      "name": "Publish reel to instagram",
      "credentials": {
        "instagramApi": {
          "id": "GzCmsXJupjcLIm4n",
          "name": "Instagram account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json['Post Content'] }}\n\nView Full Post:\n{{ $json['View Full Post'] }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        160,
        272
      ],
      "id": "025f0536-0d10-4dad-9c11-c5c16785f553",
      "name": "Facebook Text Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "Etg3fhsWDOYj1YQI",
          "name": "Facebook Access Token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json['Post Content'] }}\n\nView Full Post:\n{{ $json['View Full Post'] }}"
              },
              {
                "name": "url",
                "value": "={{ $json.imageUrl }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        160,
        464
      ],
      "id": "3f0cf52e-343d-492b-8132-1c596452d886",
      "name": "Facebook Image Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "Etg3fhsWDOYj1YQI",
          "name": "Facebook Access Token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "videos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "description",
                "value": "={{ $json['Post Content'] }}\n\nView Full Post:\n{{ $json['View Full Post'] }}"
              },
              {
                "name": "file_url",
                "value": "={{ $json.videoUrl }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        160,
        656
      ],
      "id": "e29e99c0-16f8-4e09-8b2f-072e4266d674",
      "name": "Facebook Video Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "Etg3fhsWDOYj1YQI",
          "name": "Facebook Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v24.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "1540928037123593"
            },
            {
              "name": "client_secret",
              "value": "b98c6a28533bf65745cd7624dbde913c"
            },
            {
              "name": "fb_exchange_token",
              "value": "EAAV5d0RG9gkBQeUAYaYC5I0QzyaVoZByNsxUPVJJuRB3mVH6UYez4VQEu7UBBSDiUSC0zLXGii0loolAleITBwDURqiosBVZAXaIYZCIJZBv3vVxnZCpBpjjLwgEIK0ZCPMPh6rD6tmeSY5dtkUVuIvNHiFjLtfZC9WtPun7qOTibA5oHj1O48clOAEuvm2SwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1856,
        48
      ],
      "id": "27b477a0-c8c1-4a5b-83b7-8a51c624f623",
      "name": "Get token"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/accounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,access_token"
            },
            {
              "name": "access_token",
              "value": "={{ $json.access_token }}"
            },
            {
              "name": "client_secret",
              "value": "b98c6a28533bf65745cd7624dbde913c"
            },
            {
              "name": "fb_exchange_token",
              "value": "EAAV5d0RG9gkBQeUAYaYC5I0QzyaVoZByNsxUPVJJuRB3mVH6UYez4VQEu7UBBSDiUSC0zLXGii0loolAleITBwDURqiosBVZAXaIYZCIJZBv3vVxnZCpBpjjLwgEIK0ZCPMPh6rD6tmeSY5dtkUVuIvNHiFjLtfZC9WtPun7qOTibA5oHj1O48clOAEuvm2SwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1632,
        48
      ],
      "id": "a6636930-7de3-4621-998a-6d3809eebf99",
      "name": "Page Access Token"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.imageUrl }}",
                    "rightValue": "Not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "text-check-image"
                  },
                  {
                    "leftValue": "={{ $json.videoUrl }}",
                    "rightValue": "Not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "text-check-video"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Textpost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "image-has-url",
                    "leftValue": "={{ $json.imageUrl }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "image-no-video",
                    "leftValue": "={{ $json.videoUrl }}",
                    "rightValue": "Not found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "video-has-url",
                    "leftValue": "={{ $json.videoUrl }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reel Post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        448
      ],
      "id": "0d2bc5ea-c5ce-4599-afe6-9d019c7e94c4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc",
          "mode": "list",
          "cachedResultName": "Linkedin post Data for fb and insta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1818381981,
          "mode": "list",
          "cachedResultName": "posts data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit#gid=1818381981"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/0/url",
              "displayName": "postImages/0/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/1/url",
              "displayName": "postImages/1/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postVideo/videoUrl",
              "displayName": "postVideo/videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        656
      ],
      "id": "a3ba9b3a-7a3f-4748-ba20-530f4160535a",
      "name": "Status Complete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0aMeEZW9nvPlEHBm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc",
          "mode": "list",
          "cachedResultName": "Linkedin post Data for fb and insta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1818381981,
          "mode": "list",
          "cachedResultName": "posts data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit#gid=1818381981"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/0/url",
              "displayName": "postImages/0/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/1/url",
              "displayName": "postImages/1/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postVideo/videoUrl",
              "displayName": "postVideo/videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        464
      ],
      "id": "4856c608-fd6d-4dac-8acd-5ceee6e7df17",
      "name": "Status Complete1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0aMeEZW9nvPlEHBm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc",
          "mode": "list",
          "cachedResultName": "Linkedin post Data for fb and insta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1818381981,
          "mode": "list",
          "cachedResultName": "posts data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SmkY-4t5321IvJ883I6RAbWQeIxdbjLRgBN3yKhsmTc/edit#gid=1818381981"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/0/url",
              "displayName": "postImages/0/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postImages/1/url",
              "displayName": "postImages/1/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postVideo/videoUrl",
              "displayName": "postVideo/videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedinUrl",
              "displayName": "linkedinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        272
      ],
      "id": "2457f33c-21c3-4506-a50b-73d8ad253944",
      "name": "Status Complete2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0aMeEZW9nvPlEHBm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Trigger At 9 AM",
        "height": 256,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        384
      ],
      "id": "47776f12-d958-450c-be8e-e2eb080a7787",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Image Post",
        "height": 208,
        "width": 752,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1176,
        320
      ],
      "id": "de0a689a-d027-47a5-ba96-7a036e71d679",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Video Post",
        "height": 208,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        528
      ],
      "id": "b7792f20-dc62-4318-8993-6653927647eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Update Status",
        "height": 576,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "f683925c-3faf-49f6-8ff3-faaba74f85a3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Post to Facebook Page",
        "height": 656,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "f86b5999-fdfe-467e-8cc5-b067131c9bc3",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Get token": [
      {
        "json": {
          "access_token": "EAAV5d0RG9gkBQecZAL006e1tD1uZACK0Dx4WpvycZCptm5DNHMInAPofFrIJyRBSCQCSAouJf4pCsZCfIub8VpOIv8PR6LNDj776HZBCHYBPdlTBYFxoZCoeSppm70iZBPksYBHM3vbiPKrzmRyW6VMsxZCUKGxhvli9rpzIrZC3Wyww5oJrZCfN9TzcYLOC4gNCYL",
          "token_type": "bearer"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Page Access Token": [
      {
        "json": {
          "data": [
            {
              "name": "NexFlow Automation",
              "access_token": "EAAV5d0RG9gkBQZA75XUWlKZAvbfZAP73R15oleFc7tFN4MKX7qvRmxi1oh9WLe2hQNqX2PKQJpWiGZCxJlAiwtYzQMUGuU2ZAUbLvR7IZApDkWcih7WaAGFKXtNC50PTRXwPjaYzRxfELorD6pFDEiWwii8E2fSNnRrbOQNZBfaYTbQw9cQ4GCU0IDdQiOLuifhaFjp",
              "id": "867785693081405"
            }
          ],
          "paging": {
            "cursors": {
              "before": "QVFIU0tWSE5HUGhQZAVBZAMkpZAZADZA4UkdreG10THhsUDMzOXJDSVJRQVk0MkFtV2ZA1VjVMdzAwN24xMkljWjhuXzVpNHN6UmFqZAUJSV2RHYUZA4QnpwdTV4cTJB",
              "after": "QVFIU0tWSE5HUGhQZAVBZAMkpZAZADZA4UkdreG10THhsUDMzOXJDSVJRQVk0MkFtV2ZA1VjVMdzAwN24xMkljWjhuXzVpNHN6UmFqZAUJSV2RHYUZA4QnpwdTV4cTJB"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download URL": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Get image url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image url": {
      "main": [
        [
          {
            "node": "Publish post to instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish reel to instagram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Publish reel to instagram": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get token": {
      "main": [
        [
          {
            "node": "Page Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish post to instagram": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Facebook Text Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Image Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Video Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Text Post": {
      "main": [
        [
          {
            "node": "Status Complete2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Image Post": {
      "main": [
        [
          {
            "node": "Status Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Video Post": {
      "main": [
        [
          {
            "node": "Status Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "6f8f67ec-ff2c-4364-867d-83d1c8c48dae",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "2cb8c31f432c05f5cdc744352adada04607c0425a5e107fd515b87ca6f7011e1"
  },
  "id": "FyaQQPO2ViQnXflz",
  "tags": []
}